#navbar{
    display: flex;
    align-items: center;
}
.logo{
    margin: 2px 3px;
}
.logo img{
    margin: 2px 7px;
    height: 70px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
ul li a{
    text-decoration: none;
    padding: 8px 22px;
}
ul li a:hover{
    color:red;
    background: white;
}
.home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: white;
    
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-content{
    width: 40%;
    margin: auto;
    height: auto;
    padding: 3rem 2rem;
    text-align: center; 
    box-shadow:0 .2rem .5rem black;
    border-radius: 2rem;
    background-color: rgb(236, 219, 188);
}
.about .image{
    width: 700px;
    height: auto;
    margin: 2.5%;
}
.about .image:hover{
    animation: animate-img 5s ease infinite;
    cursor: pointer;
}
@keyframes animate-img{
    0%,100%{
        transform: translateX(-3rem);
    }
    25%{
        transform: translateY(5rem);
    }
    50%{
        transform: translateX(3rem);
    }
    75%{
        transform: translateY(-5rem);
    }
}
.about-content .button{
    margin: 2rem 0;
    padding: .5rem;
    background-color: tomato;

}
.product{
    padding-top: 4rem;
}
.product .title{
    text-align: center;
    font-size: 60px;

}
.picture{
    height: 300px;
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}
.pic{
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}
.deluxe{
    height: 300px;
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}
.pepperoni{
    height: 300px;
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}
.cheese{
    height: 300px;
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}
.boerewors{
    height: 300px;
    width: 400px;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .6rem red;
}

.pizza-product .inner-pizza-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact{
    padding-top: 8.5rem;
}
.pizza-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.pizza-contact-col img{
    width: 110%;
    height: 150%;
    border-radius: 1rem;
    margin: 1rem;
}
.pizza-contact .pizza-contact-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pizza-contact-col input,
.pizza-contact-col textarea{
    width: 70%;
    padding: .7rem;
    margin-bottom: 1.2rem;
    border: none;
    cursor: pointer;

}
.pizza-contact-col .btn{
    width: 50%;
    background-color: black;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}
form span{
    display: block;
    margin: 20px 0;
}
#size{
    width: 100%;
    height: 2rem;
    margin: .5rem;
    box-shadow: 0 .2rem .4rem black;

}
#crust{
    width: 450%;
    height: 2rem;
    margin: .5rem;
    box-shadow: 0 .2rem .4rem black;
}
#toppings{
    width: 100%;
    height: 2rem;
    margin: .5rem;
    box-shadow: 0 .2rem .4rem black;
}
#number{
    width: 100%;
    height: 2rem;
    margin: .5rem;
    box-shadow: 0 .2rem .4rem black;
}
#delivery{
    width: 100%;
    height: 2rem;
    margin: .5rem;
    box-shadow: 0 .2rem .4rem black;
}

