#navbar{
    display: flex;
    align-items: center;
}
.logo{
    margin: 2px 4px;
}
.logo img{
    margin: 2px 10px;
    height: 70px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    padding: 8px 22px;

}