#navbar{
    display: flex;
    align-items: center;
}
.logo{
    margin: 2px 3px;
}
.logo img{
    margin: 2px 7px;
    height: 70px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
ul li a{
    text-decoration: none;
    padding: 8px 22px;
}
ul li a:hover{
    color:red;
    background: white;
}
.HOME{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 600px;
    color: white;
    
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-content{
    height: auto;
    padding: 3rem 6rem;
    text-align: center;
    box-shadow:0 .2rem .5rem rosybrown;
    border-radius: 2rem;
}
.about .image{
    width: 500px;
    height: auto;
}